{{ define "main"}}
{{ range (.Paginate .RegularPagesRecursive).Pages }}
<article class="article">
    <div class="article-left">
        <div class="article-avatar">
            <img src="{{ .Site.Params.avatar }}" height="48" width="48" loading="lazy">
        </div>
    </div>
    <div class="article-right">
        <div class="article-date">
            {{ .Date.Format "2006年01月02日"}}
        </div>
        <div class="article-right-inner">
            <h2 class="article-right-inner-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <div class="article-right-inner-excerpt">
                {{ $summaryCount := .Summary | strings.RuneCount }}
                {{ if .Params.abstract }}
                    {{ .Params.abstract }}
                {{ else }}
                    {{ if gt $summaryCount 60 }}
                        {{ $summary := substr .Summary 0 60 }}
                        {{ $summary := printf "%s......" $summary }}
                        {{ $summary | safeHTML }}
                    {{ else }}
                        {{ .Summary }}
                    {{ end }}
                {{ end }}
            </div>


            <a href="{{ .RelPermalink }}" class="readMore">阅读更多</a>
        </div>
        <ul class="article-right-meta">
            {{ with .Params.tags }}
            {{ range . }}
                {{ $href := print (absURL "tags/") ( urlize . ) }}
                <a href="{{ $href }}">
                    {{ index $.Site.Data.SVG "tag" | safeHTML }}
                    {{ . }}
                </a>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</article>
{{ end }}
{{ partial "pagination" . }}
{{ end }}
