<header id="header">
    <h1 class="site-title">
        <a href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a>
    </h1>
    <div id="move-sidebar-header">
        <div class="sidebar s1">
            <div class="sidebar-content">
                <div id="profile" class="group">
                    <div id="profile-inner">
                        <div id="profile-img">
                            <img src="{{ .Site.Params.avatar }}" alt="">
                        </div>
                        <div id="profile-name">{{ .Site.Params.name }}</div>
                        <div id="profile-description">"{{ .Site.Params.description }}"</div>
                    </div>
                </div>
                {{- partial "postNav.html" . -}}
                {{- partial "tabs.html" . -}}
            </div>
        </div>
    </div>
</header>
